<pre>
             444444444       000000000       1111111   
            4::::::::4     00:::::::::00    1::::::1   
           4:::::::::4   00:::::::::::::00 1:::::::1   
          4::::44::::4  0:::::::000:::::::0111:::::1   
         4::::4 4::::4  0::::::0   0::::::0   1::::1   
        4::::4  4::::4  0:::::0     0:::::0   1::::1   
       4::::4   4::::4  0:::::0     0:::::0   1::::1   
      4::::444444::::4440:::::0 000 0:::::0   1::::l   
      4::::::::::::::::40:::::0 000 0:::::0   1::::l   
      4444444444:::::4440:::::0     0:::::0   1::::l   
                4::::4  0:::::0     0:::::0   1::::l   
                4::::4  0::::::0   0::::::0   1::::l   
                4::::4  0:::::::000:::::::0111::::::111
              44::::::44 00:::::::::::::00 1::::::::::1
              4::::::::4   00:::::::::00   1::::::::::1
              4444444444     000000000     111111111111                                         
 _____       _                _    _              _              _ 
|   | | ___ | |_    ___  _ _ | |_ | |_  ___  ___ |_| ___  ___  _| |
| | | || . ||  _|  | .'|| | ||  _||   || . ||  _|| ||- _|| -_|| . |
|_|___||___||_|    |__,||___||_|  |_|_||___||_|  |_||___||___||___|                                 
</pre>
<a routerLink="/login" routerLinkActive="active">Go back to login screen</a>