.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.chem-box{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    border: solid 1px #DDD;
    background: #EEE;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
    box-shadow: -3px 3px 6px 1px rgba(46,46,46,0.3);
}
.chem-box .element{
    border: solid 1px #AAA;
    margin: 1px 1px 1px 4px;
    padding: 1px 2px;
    cursor: pointer;
    background: #CCF;
    display: inline-block;
    border-radius: 1px;
}

.chem-box .element:hover{
    background: #FFF;
    transition: 0.5s;
}

.twin-results{
    width:49%; 
    display:inline-block; 
    vertical-align: top;
}

.results-table{
    width: 95%;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    border: solid 1px #DDD;
    box-shadow: -3px 3px 6px 1px rgba(46,46,46,0.3);
    }

.table-header  {
    color: #e5e6e7;
    background: #456;
    padding: 4px 0 4px 5px;
}

.col-3, .col-6, .col-9 {
    vertical-align: top;
    display: inline-block;
}

.col-3{
    width: 25%;
}

.col-6{
    width: 50%
}

.col-9{
    width: 75%
}

.sortable {
    cursor: pointer;
}

.sortable:hover{
    color: rgb(253, 246, 203);
}

.table-row {
    color: #666;
    background : #EEE;
    padding: 3px 0 3px 5px;
    border-top: solid 1px #BBB;
    font-size:12px;
}

.table-row-search {
    cursor:pointer;
}

.table-row-search:hover{
    color: #000;
    transition: 0.5s;
    background:#DDF;
}

.search-button{
    vertical-align: middle;
    cursor: pointer;
    border: solid 1px #89A;
    background: #9AB;
    color: #444;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    margin: 0 6px;
    user-select : none;
}

.search-button:hover{
    background: #BCD;
    transition: 0.5s;
}

.results-legend{
    display: inline-block;
}

.results-description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

#filter-box{
    font-family : Arial, Helvetica, sans-serif;
    color : #444;
    border: solid 1px #DDD;
    background : #EEE;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: -3px 3px 6px 1px rgba(46,46,46,0.3);
}

.form-field{
    margin-bottom: 5px;
}


